{% extends "layout.html" %}
{% block content %}
     <div class="col-lg-9">

      <h3 style="color: darkred">No matching records found</h3>
      <hr/>
      <p>
        <b><a href="/">Click here to go back and try again.</a></b>
      </p>
      <p>
        Please type in the barcode given to you at the time of collection exactly as shown.
        The date of birth must be entered for the patient who was tested.
      </p>
      <hr/>
      <h4>If you are unable to retrieve your results:</h4>
      <h4>If you think this is an error:</h4>

     </div>
{% endblock %}