{% extends "scan/layout.html" %}
{% block content %}
     <div class="col-lg-9">

      <h4>Swab not yet received or no matching records found.</h4>
      <p>
        If you recently returned your swab, please check back later.  Most
        swabs are received within 3 days.
      </p>
      <p>
        If it’s been longer than 3 days, please make sure you’re typing in the
        barcode on your swab tube or swab kit box exactly as shown.  The date
        of birth must be entered for the participant who was tested.
      </p>
      <p>
        <b><a href="/scan">&lt;&lt; Click here to go back and try again.</a></b>
      </p>
      <hr/>

      <div class='card card-body bg-light'>
          <p><span class='font-weight-bold'>If you have lost your barcode or you cannot access the status of your test</span>, please email <a href="mailto:support@scanpublichealth.org?subject=Retrieving%20my%20results">support@scanpublichealth.org</a> or call <a href="tel:+1-206-616-5859">(206) 616-5859</a>.</p>
      </div>

     </div>
{% endblock %}
