{% extends "scan/layout.html" %}
{% block content %}
     <div class="col-lg-9">

      <h3 style="color: darkred">Sample not yet received or no matching records found</h3>
      <hr/>
      <p>
        <b><a href="#" onclick="history.go(-1)">&lt;&lt; Click here to go back and try again.</a></b>
      </p>
      <p>
        Please type in the barcode on your swab tube or swab kit box exactly as shown.
        The date of birth must be entered for the participant who was tested.
      </p>
      <p>
        <span class='font-weight-bold'>Note: Recently collected tests may not yet be available in SecureLink. Please check 2-3 days after collection.</span>
      </p>
      <hr/>

      <div class='card card-body bg-light'>
          <p><span class='font-weight-bold'>If you have lost your barcode or you cannot access the status of your test</span>, please email <a href="mailto:support@scanpublichealth.org?subject=Retrieving%20my%20results">support@scanpublichealth.org</a> or call <a href="tel:+1-206-616-5859">(206) 616-5859</a>.</p>
      </div>

     </div>
{% endblock %}
