{% extends "scan/layout.html" %}
{% block content %}
     <div class="col-lg-9">
        <h4>Welcome to the <b>SCAN SecureLink results portal.</b></h4>
        <p class="lead">
          Thank you for your participation in the Seattle Coronavirus Assessment
          Network (SCAN). Our testing of home-based, self-collected samples for
          COVID-19 is currently paused, and retrieval of results is temporarily
          suspended.  Please see our
          <a href="https://scanpublichealth.org/updates/2020-05-13">
            full update on the SCAN website</a>.
        </p>
        <p>
          If the link above does not work, try copying the following link into
          your web browser:
          <a href="https://scanpublichealth.org/updates/2020-05-13">
            https://scanpublichealth.org/updates/2020-05-13</a>
        </p>
      </div>
{% endblock %}
