{% extends "layout.html" %}
{% block content %}
     <div class="col-lg-9">
        <h4>Welcome to the UW Medicine <b>COVID-19 SecureLink results portal.</b></h4>
        <p>
          If you were tested for the SARS-CoV-2 (COVID-19) Virus, you can use this portal to retrieve the status and/or results of your testing. Only patients who received a test retrieval card at the time of their test are eligible to retrieve their results via this portal.
          <span class='font-weight-bold'>To retrieve your test result, please enter the 16 digit retrieval code and your date of birth in the form below.</span>
        </p>
        <div class='alert alert-info'><span class="font-weight-bold">If you are a SCAN study participant and have an 8-digit code</span>, please use the <a href="/scan" class="alert-link">SCAN results portal</a> to retreive your result.</div>

        <div class='row'>
          <div class='col-lg-10'>
            <div id="form-card">
              <form action="/result" method="post" id="submitform">
                <div class="form-group col-md-12">
                  <label for="barcode">Retrieval Code <a id="showexample" href="#">(Where can I find this?)</a></label>
                  <div id="example">
                    This is listed on the test retrieval card, given to you at the time of testing:
                    <img src="/static/img/example.png" width="400px" class="m-3" />
                  </div>
                  <input class="form-control"
                      id='barcode'
                      name="barcode"
                      aria-describedby="barcode"
                      placeholder="####-####-####-####"
                      value="{{ barcode }}"
                      type="text"
                      style="text-transform:uppercase"
                      autocomplete="off"
                  />
                  <small id="barcodeHelp" class="form-text text-muted">16-digit retrieval code from your test retrieval card. Have an 8-digit code? <a href="/scan">Go here</a></small>
                </div>
                <div class="form-group col-md-6">
                  <label for="dob">Date of Birth</label>
                  <input class="form-control"
                    id='dob'
                    name="dob"
                    aria-describedby="dob"
	            placeholder="MM/DD/YYYY"
                    value="{{ dob }}"
                    autocomplete="off"
                  / >
                  <small id="barcodeHelp" class="form-text text-muted">The date of birth for the individual tested.</small>
                </div>
                <div class="form-group col-md-12">
                  <button type="submit" class="btn btn-secondary float-right">Click here to retrieve results</button>
                </div>
              </form>
            </div>
          </div>

        </div>
          <div class='row'>
            <div class='col-lg-10'>
              <div class='card card-body bg-light'>
                <p><strong>If you have lost your barcode or your
                    access code does not show the status of your test
                    after 48 hours</strong>, please seek assistance as
                    follows:
		</p>

		{% include "followup_if_error.html" %}

                <p>If you are a SCAN study participant, please visit the <a href='/scan'>SCAN portal</a> for contact information.</p>
              </div>
            </div>
        <script>
        $(document).ready(
          $("#showexample").click(function () {
              $("#example").toggle();
          })
        );


        $("#barcode").mask("AAAA-AAAA-AAAA-AAAA")
        $("#dob").mask("00/00/0000")
        jQuery.validator.addMethod("validBarcode", function(value) {
            return value.match(/(.{4})-(.{4})-(.{4})-(.{4})/g)
        }, "Please enter a valid 16-digit barcode.");

        jQuery.validator.addMethod("validChecksum", function(value) {
            value = value.replace(/-/g, "").toUpperCase()
            str = value.slice(0,15)
            checksum = value.slice(-1)
            return md5(str).toUpperCase()[0] == checksum
        }, "Please double check barcode entry.");

        jQuery.validator.addMethod("validDob", function(value) {
            return value.match(/([0-9]{2})\/([0-9]{2})\/(19|20[0-9]{2})/g)
        }, "Please enter a valid date of birth.");


        $("#submitform").validate({
          rules: {
            barcode: {
              validBarcode: true,
              validChecksum: true
            },
            dob: {
              validDob: true
            }
          },
          messages: {
            barcode: {
              required: "Please enter the 16-digit barcode.",
              minlength: "Barcode must be 16 digits. Please omit dashes."
            },
            dob: {
              required: "Please enter date in MM/DD/YYYY format."
            }
          }
        });
        </script>
      </div>
{% endblock %}
