<p style="font-weight: bold">Additional resources:</p>
<ul>
  <li>
    <a href='https://www.doh.wa.gov/Portals/1/Documents/1600/coronavirus/COVIDcasepositive.pdf'>
      What to do if you have a positive result</a> (King County Public Health)
  </li>

  <li>
    <a href='https://www.doh.wa.gov/Emergencies/NovelCoronavirusOutbreak2020/FactSheet'>
    Coronavirus General Facts</a> (Washington Department of Health)
  </li>
  
  <li>
    <a href='https://www.doh.wa.gov/Portals/1/Documents/1600/coronavirus/COVIDexposed.pdf'>
    What to do if you were potentially exposed</a> (King County Public Health)
  </li>
  <li>
    <a href='https://www.cdc.gov/coronavirus/2019-ncov/faq.html'>
    CDC COVID-19 General Information Website
    </a>
  </li>
  <li>Washington State Department of Health COVID-19 Call Center: 1-800-525-0127</li>
  <li>UW Medicine COVID-19 Information Line: 206-520-2285</li>
</ul>